<h2>Create a New Ingredient</h2>
<%= form_for @ingredient do |f| %>
    <%= f.label :name, "Name of Ingredient:" %><br>
    <%= f.text_field :name %><br>

    <%= f.submit "Create Ingredient" %>
<% end %>